<div class="col-sm-3">
  <div class="panel panel-default <%= 'panel-success' if dog.in_daycare %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= dog.name %> <%= dog.owner.last_name %></h3>
    </div>
    <div class="panel-body">
      <a href="#" data-toggle="modal" data-target="#showDog_<%= dog.id %>">
        <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
      </a>
    </div>
    <div class="panel-footer">
      <!-- Check in/out functionality -->
      <%= form_for(dog, url: dog_path(dog), remote: true, :html => {class: "form-inline"}) do |f| %>
        <% if dog.in_daycare %>
          <%= f.hidden_field :in_daycare, :value => false %>
          <%= f.submit "Check Out", class: "btn btn-default btn-xs" %>
        <% else %>
          <%= f.hidden_field :in_daycare, :value => true %>
          <%= f.submit "Check In", class: "btn btn-default btn-xs" %>
        <% end %>
      <% end %>

      <%= link_to content_tag(:i, " Edit", class: "fa fa-pencil"), edit_dog_path(dog), remote: true, class: "btn btn-warning btn-xs" %>
      <%= link_to content_tag(:i, " Delete", class: "fa fa-trash-o"), dog, remote: true,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
    </div>
  </div> <!-- panel -->
</div> <!-- col-md-3 -->

<div class="modal fade" id="showDog_<%= dog.id %>" tabindex="-1" role="dialog" aria-labelledby="showDogLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="showDogLabel"><%= dog.name %> <%= dog.owner.last_name %></h2>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-4">
              <%= image_tag dog.avatar.url(:medium), class: "img-responsive dog-show" %>
            </div>
            <div class="col-sm-8">
              <p>
                <%= link_to content_tag(:i, " Edit", class: "fa fa-pencil"), edit_dog_path(dog), class: "btn btn-warning btn-xs" %>
                <%= link_to content_tag(:i, " Delete", class: "fa fa-trash-o"), dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
              </p>
              <p>
                <strong>Owner:</strong>
                <%= link_to "#{dog.owner.first_name} #{dog.owner.last_name}", owner_path(dog.owner_id) %>
              </p>
              <p><strong>Breed:</strong> <%= dog.breed.breed %></p>
              <p><strong>Birthday:</strong> <%= dog.dob.stamp_like('May 1, 2011') %></p>
              <p><strong>Vet:</strong> <%= dog.vet %></p>
              <p><strong>Vet phone:</strong> <%= dog.vet_phone %></p>
              <p><strong>In daycare:</strong> <%= dog.in_daycare %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>