<h1>Listing Dogs</h1>

<!-- Search box for dogs -->
<div class="row">
  <div class="col-sm-12">
  <%= form_tag("/dogs", method: "get", role: "search", class: "form-inline") do %>
    <div class="form-group">
      <%= text_field_tag(:search, nil, placeholder: "Fido", class: "form-control input-sm") %>
    </div>
    <%= submit_tag("Search", class: "btn btn-default btn-sm") %>
  <% end %>

  <!-- Button trigger modal -->
  <%= link_to 'New Dog', new_dog_path, remote: true, class: "btn btn-info btn-sm" %>

  </div> <!-- col -->
</div> <!-- row -->

<!-- Modal -->
<div class="modal fade" id="new_dog_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="dog-form"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">

  <div id="dogs">
    <%= render @dogs %>
  </div>

</div> <!-- row -->
